<?php require "partials/header.php"; ?>


<div class="page-header">
    <div class="container">
        <h1>Welcome to the Harry Potter Project</h1>
    </div>
</div>
<p>Here you can search by character or actor</p>
<div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="name" name="name">
    </div>
    <button class="btn btn-default">Submit</button>
</div>
<script type="text/javascript" src="../public/js/form.js"></script>

<?php require "partials/footer.html";